:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --logo-text-color: #000;
  --accent-color: #2196f3;
  --activ-accent-color: #188ce8;
  --primary-bg-color: #fff;
  --footer-hero-bg-color: #2f303a;
  --section-bg-color: #f5f4fa;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);

  font-family: "Roboto", "Raleway", sans-serif;
}
* {
  color: var(--title-text-color);
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-text-color);
}
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.link {
  text-decoration: none;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  display: block;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0;
}

button {
  cursor: pointer;
  font-family: inherit;
}
.logo {
  color: var(--logo-text-color);
  text-decoration: none;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo-color {
  color: var(--accent-color);
}
