:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --logo-text-color: #000;
  --xxx-: #75757580;
  --text-footer-btn-form: #ffffff99;
  --accent-color: #2196f3;
  --activ-accent-color: #188ce8;
  --primary-bg-color: #fff;
  --footer-hero-bg-color: #2f303a;
  --section-bg-color: #f5f4fa;
  --footer-text-color: #ffffff99;
  --border-color: #eeeeee;
  --header-border-color: #ececec;
  --hero-bg-color: #c4c4c4;
  --icon-bg: #ffffff1a;
  --border-bg-icon: #afb1b8;
  --overlay-bg: #2196f3e5;
  --background-overlay: rgba(0, 0, 0, 0.2);
  --time-function: 250ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);

  font-family: "Roboto", "Raleway", sans-serif;
}
* {
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-text-color);
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.link {
  text-decoration: none;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
  padding: 0;
  color: var(--primary-text-color);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  display: block;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
