:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --logo-text-color: #000;
  --xxx-: #75757580;
  --text-footer-btn-form: #ffffff99;
  --accent-color: #2196f3;
  --activ-accent-color: #188ce8;
  --primary-bg-color: #fff;
  --footer-hero-bg-color: #2f303a;
  --section-bg-color: #f5f4fa;
  --footer-text-color: #ffffff99;
  --border-color: #eeeeee;
  --header-border-color: #ececec;
  --hero-bg-color: #c4c4c4;
  --icon-bg: #ffffff1a;
  --border-bg-icon: #afb1b8;
  --overlay-bg: #2196f3e5;
  --background-overlay: rgba(0, 0, 0, 0.2);
  --time-function: 250ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-text-color);
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
  color: var(--primary-text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.link {
  text-decoration: none;
}

.section {
  padding: 94px 0;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: "Roboto", "Raleway", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  font-style: normal;
}

.container {
  display: block;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.hero {
  text-align: center;
  padding: 118px 0;
  max-width: 1600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: var(--footer-hero-bg-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/header-mobile-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 480px) {
  .hero {
    padding: 118px 0;
    background: var(--footer-hero-bg-color);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/header-mobile-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 118px 0;
    background: var(--footer-hero-bg-color);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/header-tablet-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding: 200px 0;
    background: var(--footer-hero-bg-color);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/desktop-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.hero__title {
  font-style: normal;
  text-align: center;
  margin: 0 auto;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
}
@media screen and (min-width: 480px) {
  .hero__title {
    max-width: 360px;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    max-width: 360px;
    font-size: 26px;
    line-height: 1.62;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.hero__button {
  text-align: center;
  margin-top: 30px;
  padding: 10px 32px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.05em;
  color: var(--primary-bg-color);
  background: var(--accent-color);
  border-color: transparent;
  transition: background var(--time-function) var(--transition-function), color var(--time-function) var(--transition-function);
}

.hero__button:hover,
.hero__button:focus {
  background: var(--activ-accent-color);
}

.hero__button:active {
  background: var(--activ-accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-overlay);
  transition: opacity var(--time-function) linear, visibility var(--time-function) linear;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  padding: 40px;
  border-radius: 4px;
  transition: transform var(--time-function) linear;
  background-color: var(--primary-bg-color);
}
@media screen and (max-width: 1199px) {
  .modal {
    height: 95%;
    width: 95%;
    max-height: 609px;
    max-width: 450px;
  }
}

.modal:hover,
.modal:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__close-btn {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 6px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: border-color var(--time-function) var(--transition-function);
}

.modal__close-btn:hover,
.modal__close-btn:focus {
  border-color: var(--accent-color);
}

.modal__close-btn:hover .modal__close-icon,
.modal__close-btn:focus .modal__close-icon {
  fill: var(--accent-color);
}

.modal__close-icon {
  fill: var(--border-bg-icon);
  transition: fill var(--time-function) var(--transition-function);
}

.input-wrap {
  position: relative;
}

.modal__input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: color var(--time-function) var(--transition-function);
}

.modal__form {
  display: block;
  text-align: center;
}

.modal__title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--title-text-color);
}

.modal__input {
  width: 100%;
  min-height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  outline: transparent;
}

.modal__input:focus,
.modal__comment-input:focus {
  border-color: var(--accent-color);
}

.modal__input:focus + .modal__input-icon {
  fill: var(--accent-color);
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-field label {
  text-align: left;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form-field.comment {
  margin-bottom: 20px;
}

.modal__comment-input {
  display: block;
  width: 100%;
  min-height: 120px;
  border-radius: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  outline: transparent;
}

.modal__comment-input::-moz-placeholder, .modal__input::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__comment-input::placeholder,
.modal__input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  display: inline-flex;
  justify-content: center;
  margin-bottom: 30px;
}

.modal__checkbox-label {
  display: flex;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 479px) {
  .modal__checkbox-label {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.checkbox__input {
  position: absolute;
  opacity: 0;
  margin-right: 7px;
}

.checkbox__icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 7px;
}

.checkbox__input:checked + .checkbox__icon {
  background-image: url(../images/svg/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.checkbox__text {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  white-space: pre;
}
@media screen and (max-width: 479px) {
  .checkbox__text {
    font-size: 10px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .checkbox__text {
    font-size: 12px;
    line-height: 1.17;
  }
}

.checkbox__text-activ {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: underline;
}
@media screen and (max-width: 479px) {
  .checkbox__text-activ {
    font-size: 10px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .checkbox__text-activ {
    font-size: 12px;
    line-height: 1.17;
  }
}

.modal__btn {
  width: 200px;
  height: 50px;
  color: var(--primary-bg-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border-color: transparent;
  transition: background-color var(--time-function) var(--transition-function);
}

.modal__btn:hover,
.modal__btn:focus {
  background-color: var(--activ-accent-color);
}/*# sourceMappingURL=main.css.map */