/* logo */

.header-page {
  border-bottom: 1px solid var(--header-border-color);
}
.header-page .logo {
  color: var(--logo-text-color);
  text-decoration: none;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.footer-page .logo {
  color: var(--primary-bg-color);
  text-decoration: none;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo-color {
  color: var(--accent-color);
}

/* header */

.header-page .container {
  display: flex;
  align-items: center;
}


/* site-nav */

.navigation {
  display: flex;
  align-items: center;
}

.navigation .logo {
  margin-right: 93px;
}

.header-page-item:not(:last-child) {
  display: block;
  margin-right: 50px;
}

.header-page-item .link{
  display: block;
  align-items: center;
}
.site-nav .link.current {
  color: var(--accent-color);
}
.site-nav {
  display: flex;
  align-items: center;
  
}

.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* auth */

.auth-nav {
  display: inline-flex;
  margin-left: auto;
}
.auth-nav .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* .auth-contact-link:hover,
.auth-contact-link:focus{
  color: var(--accent-color);
} */

.icon-auth-nav{
  display: flex;
  margin-right: 10px;
  fill: currentColor;

}


.header-page .link:hover,
.header-page .link:focus{
  color: var(--accent-color);
  fill: var(--accent-color);
}

.header-page .link:active{
  color: var(--accent-color);
  fill: var(--accent-color);
}

.icon-auth-nav:hover,
.icon-auth-nav:focus{
  fill: var(--accent-color);
}

/* footer */

.footer-page {
  background: var(--footer-hero-bg-color);
  padding: 60px 0;
}
.footer-auth .link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--primary-bg-color);
}

.footer-auth .footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--footer-text-color);
}

.footer-auth .link:hover,
.footer-auth .link:focus {
  color: var(--accent-color);
}

.footer-auth .link:active {
  color: var(--accent-color);
}
/* main index*/

/* hero */

.hero {
  background: var(--footer-hero-bg-color);
  text-align: center;
  padding: 200px 0;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/img-1x.jpg);
}
.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
  margin: 0 auto;
  max-width: 696px;
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.05em;
  text-align: center;
  color: var(--primary-bg-color);
  background: var(--accent-color);
  margin-top: 30px;
  border-color: transparent;
  border-radius: 4px;
  padding: 10px 32px;
}

.hero-button:hover,
.hero-button:focus {
  background: var(--activ-accent-color);
}

.hero-button:active {
  background: var(--activ-accent-color);
}
/* feature */

.feature {
  padding-bottom: 0;
}
.feature-list {
  display: flex;
  gap: 30px;
}
.feature-item {
  flex-basis: calc((100% - 3 * 30px) / 4);
}
.feature-item::before {
  display: block;
  content: "";
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--section-bg-color);
}

.feature-item:nth-child(1)::before {
  background-image: url(../images/svg/antenna.svg);
}

.feature-item:nth-child(2)::before {
  background-image: url(../images/svg/clock.svg);
}

.feature-item:nth-child(3)::before {
  background-image: url(../images/svg/diagram.svg);
}

.feature-item:nth-child(4)::before {
  background-image: url(../images/svg/astronaut.svg);
}
/* .icon-antenna::before {
  background-image: url(../images/svg/antenna.svg);
  } */

.feature-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
  margin-bottom: 10px;
}

.feature-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}

/* activities */

.activities-list {
  display: flex;
  gap: 30px;
}

.activities-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

/* workers */

.workers-list {
  display: flex;
  gap: 30px;
}

.workers-item {
  display: block;
  background-color: var(--primary-bg-color);
}

.workers {
  background: var(--section-bg-color);
}

.workers-boxcard {
  padding: 30px 0;
}
.workers-main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.workers-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.workers-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

/* main portfolio */
.portfolio-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  color: var(--title-text-color);
  background: var(--section-bg-color);
  border-radius: 4px;
  padding: 6px 22px;
  border-color: transparent;
}
.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--primary-bg-color);
  background: var(--accent-color);
}
.portfolio-button:active {
  background: var(--accent-color);
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  margin-bottom: 4px;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  text-align: left;
}

.projects-btn-list {
  display: flex;
  justify-content: center;
}
.projects-btn-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}

.portfolio-card {
  padding: 20px 24px;
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}
