/* logo */

.header {
  border-bottom: 1px solid var(--header-border-color);
}

.logo {
  text-decoration: none;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  color: var(--logo-text-color);
}

.footer .logo {
  color: var(--primary-bg-color);
}

.logo--blue {
  color: var(--accent-color);
}

/* header */

.header .container {
  display: flex;
  align-items: center;
}

/* site-nav BEM*/

.navigation {
  display: flex;
  align-items: center;
}

.navigation .logo {
  margin-right: 93px;
}

/* .header-item:not(:last-child) {
  margin-right: 50px;
} */

.site-nav__item:not(:last-child),
.auth-nav__item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav__item .link {
  display: inline-block;
}
.site-nav__list .link.current {
  color: var(--accent-color);
}
.site-nav__list {
  display: flex;
  align-items: center;
}

.site-nav__list .link {
  text-align: left;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);

  transition: color var(--time-function)
    var(--transition-function);
}

.site-nav__item .link:hover,
.site-nav__item .link:focus {
  color: var(--accent-color);
}

/* auth BEM*/

.auth-nav__list {
  display: flex;
  margin-left: auto;
}
.auth-nav__list .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition: color var(--time-function)
    var(--transition-function);
}

.auth-nav__item .icon {
  display: inline-block;
  margin-right: 10px;
  fill: currentColor;

  transition: fill var(--time-function)
    var(--transition-function);
}

.auth-nav__item .link:hover .icon,
.auth-nav__item .link:focus .icon {
  fill: var(--accent-color);
}

.auth-nav__item .link:hover,
.auth-nav__item .link:focus {
  color: var(--accent-color);
}

.auth-nav__item .link:active .icon {
  fill: var(--accent-color);
  color: var(--accent-color);
}

.link.current {
  position: relative;
}

.current::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: var(--accent-color);
}

/* footer BEM*/

.footer {
  padding: 60px 0;
  background: var(--footer-hero-bg-color);
}

.footer__contents {
  display: flex;
  /* margin-left: 70px; */
}

/* footer auth BEM*/

.footer__auth .link {
  text-align: left;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);

  transition: color var(--time-function)
    var(--transition-function);
}

.footer__auth .footer__link {
  color: var(--footer-text-color);
}

.footer__auth .link:hover,
.footer__auth .link:focus {
  color: var(--accent-color);
}

.footer__auth .link:active {
  color: var(--accent-color);
}

/* footer-social-networks BEM*/

.footer__social-networks {
  display: flex;
  flex-direction: column;
  margin-left: 93px;
}
.footer__social-title {
  text-align: left;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
}
.footer__social-list {
  display: flex;
  align-items: baseline;
  gap: 10px;
}
.footer__social-item {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background: var(--icon-bg);

  transition: background var(--time-function)
    var(--transition-function);
}
.footer__social-item:hover,
.footer__social-item:focus {
  background: var(--accent-color);
}

.footer__social-item:active {
  background: var(--accent-color);
}

.footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.footer__social-icon {
  fill: #fff;
}

/* footer-form BEM*/

.footer__form {
  display: block;
  margin-left: 93px;
}
.form {
  display: flex;
  gap: 12px;
}
.footer__title-form {
  text-align: left;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-bg-color);
  text-transform: uppercase;
}
.footer__form-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;

  border-radius: 4px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  background: #2f303a;
  outline: transparent;
  color: var(--primary-bg-color);
  /* border: 1px; */
}

.footer__form-input::placeholder {
  color: var(--text-footer-btn-form);
}

.footer__form-input:focus {
  border-color: var(--accent-color);
}

.footer__input-btn {
  position: relative;

  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;

  border-radius: 4px;
  padding: 10px 62px 10px 28px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--primary-bg-color);
  background: var(--accent-color);
  border-color: transparent;

  transition: background-color var(--time-function)
    var(--transition-function);
}

.footer__input-btn:hover,
.footer__input-btn:focus {
  background: var(--activ-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer__input-btn:active {
  background: var(--activ-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer__input-icon {
  position: absolute;
  top: 50%;
  right: 28px;
  transform: translateY(-50%);
  fill: var(--primary-bg-color);
}

/* main index*/

/* hero BEM*/

.hero {
  text-align: center;
  padding: 200px 0;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background: var(--footer-hero-bg-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero/img-1x.jpg);
}
.hero__title {
  font-style: normal;
  text-align: center;
  margin: 0 auto;
  max-width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-bg-color);
}
.hero__button {
  text-align: center;
  margin-top: 30px;
  padding: 10px 32px;
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.05em;
  color: var(--primary-bg-color);
  background: var(--accent-color);
  border-color: transparent;

  transition: background var(--time-function)
      var(--transition-function),
    color var(--time-function) var(--transition-function);
}

.hero__button:hover,
.hero__button:focus {
  background: var(--activ-accent-color);
  /* color: yellow; */
}

.hero__button:active {
  background: var(--activ-accent-color);
}

/* modal-window BEM*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: var(--background-overlay);
  transition: opacity var(--time-function) linear,
    visibility var(--time-function) linear;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  border-radius: 4px;

  transition: transform var(--time-function) linear;

  background-color: var(--primary-bg-color);
}

.modal:hover,
.modal:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal__close-btn {
  position: absolute;
  right: 8px;
  top: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 6px;

  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: border-color var(--time-function)
    var(--transition-function);
}

.modal__close-btn:hover,
.modal__close-btn:focus {
  border-color: var(--accent-color);
}

.modal__close-btn:hover .modal__close-icon,
.modal__close-btn:focus .modal__close-icon {
  fill: var(--accent-color);
}
.modal__close-icon {
  fill: var(--border-bg-icon);
  transition: fill var(--time-function)
    var(--transition-function);
}

/* modal form BEM*/

.input-wrap {
  position: relative;
}

.modal__input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: color var(--time-function)
    var(--transition-function);
}

.modal__form {
  display: block;

  text-align: center;
}

.modal__title {
  text-align: center;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--title-text-color);
}

.modal__input {
  width: 100%;
  min-height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  outline: transparent;
}

.modal__input:focus,
.modal__comment-input:focus {
  border-color: var(--accent-color);
}
.modal__input:focus + .modal__input-icon {
  fill: var(--accent-color);
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.form-field label {
  text-align: left;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}

.form-field.comment {
  margin-bottom: 20px;
}

.modal__comment-input {
  display: block;
  width: 100%;
  min-height: 120px;
  border-radius: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  outline: transparent;
}
.modal__comment-input::placeholder,
.modal__input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

/* modal form checkbox BEM*/

.checkbox {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.modal__checkbox-label {
  display: flex;
  align-items: center;
  width: 425px;
}

.checkbox__input {
  position: relative;
  opacity: 0;
  margin-right: 7px;
}

.checkbox__icon {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
}

.checkbox__input:checked + .checkbox__icon {
  background-image: url(../images/svg/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.checkbox__text {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  white-space: pre;
}

.checkbox__text-activ {
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: underline;
}

/* modal-btn BEM*/

.modal__btn {
  width: 200px;
  height: 50px;
  color: var(--primary-bg-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.88;
  border-color: transparent;
  transition: background-color var(--time-function)
    var(--transition-function);
}
.modal__btn:hover,
.modal__btn:focus {
  background-color: var(--activ-accent-color);
}

/* feature BEM */

.feature {
  padding-bottom: 0;
}
.feature__list {
  display: flex;
  gap: 30px;
}
.feature__item {
  flex-basis: calc((100% - 3 * 30px) / 4);
}
.feature__item::before {
  display: block;
  content: "";
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--section-bg-color);
}

.feature__item:nth-child(1)::before {
  background-image: url(../images/svg/antenna.svg);
}

.feature__item:nth-child(2)::before {
  background-image: url(../images/svg/clock.svg);
}

.feature__item:nth-child(3)::before {
  background-image: url(../images/svg/diagram.svg);
}

.feature__item:nth-child(4)::before {
  background-image: url(../images/svg/astronaut.svg);
}

.feature-main__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}
.feature__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
  margin-bottom: 10px;
}

.feature__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}

/* activities BEM */

.activities__list {
  display: flex;
  gap: 30px;
}

.activities__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

/* workers BEM */

.workers {
  background: var(--section-bg-color);
}

.workers__list {
  display: flex;
  gap: 30px;
}

.workers-main__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.workers__item {
  display: block;
  background-color: var(--primary-bg-color);
}

.boxcard {
  padding: 30px 0;
}
.boxcard__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.boxcard__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
/* --------------------- */

.social-networks__list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.social-networks__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-networks__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social-networks__icon {
  fill: var(--border-bg-icon);

  transition: fill var(--time-function)
    var(--transition-function);
}

.social-networks__item:hover,
.social-networks__item:focus {
  background: var(--accent-color);

  transition: background var(--time-function)
    var(--transition-function);
}

.social-networks__item:active {
  background: var(--accent-color);
}

.social-networks__item:hover .social-networks__icon,
.social-networks__item:focus .social-networks__icon {
  fill: var(--primary-bg-color);
}

.social-networks__item:active .social-networks__icon {
  fill: var(--primary-bg-color);
}

/* clients BEM */

.clients__list {
  display: flex;
  gap: 30px;
}

.clients__title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.clients__item {
  width: calc((100% - 150px) / 6);
  height: 92px;
}
.clients__link {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-bg-icon);

  transition: border var(--time-function)
    var(--transition-function);
}

.clients__icon {
  fill: var(--border-bg-icon);

  transition: fill var(--time-function)
    var(--transition-function);
}
.clients__link:hover,
.clients__link:focus {
  border: 1px solid var(--accent-color);
}

.clients__link:active {
  border: 1px solid var(--accent-color);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.clients__link:active .clients__icon {
  fill: var(--accent-color);
}

/* main portfolio */

/* btn - BEM */

.projects-btn__button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  cursor: pointer;
  color: var(--title-text-color);
  background: var(--section-bg-color);
  border-radius: 4px;
  padding: 6px 22px;
  border-color: transparent;

  transition: background var(--time-function)
      var(--transition-function),
    color var(--time-function) var(--transition-function),
    box-shadow var(--time-function);
}
.projects-btn__button:hover,
.projects-btn__button:focus {
  color: var(--primary-bg-color);
  background: var(--accent-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.projects-btn__button:active {
  color: var(--primary-bg-color);
  background: var(--accent-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-btn__list {
  display: flex;
  justify-content: center;
}
.projects-btn__item:not(:last-child) {
  margin-right: 8px;
}

/* portfolio card BEM*/

.projects__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}

.product__card {
  padding: 20px 24px;
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.product__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  margin-bottom: 4px;
}
.product__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  text-align: left;
}

.product__thumb {
  position: relative;
  width: 370px;
  height: 294px;
  margin: 0 auto;
  overflow: hidden;
}

.product__overlay {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-bg);
  transform: translatey(100%);
  transition: transform var(--time-function) ease-in-out;
}

.product__overlay p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--primary-bg-color);
  padding: 63px 24px;
}

.projects__item {
  transition: box-shadow var(--time-function);
}
.projects__item:hover,
.projects__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects__item:hover .product__overlay,
.projects__item:focus .product__overlay {
  transform: translateY(0);
}

.projects__item:active .product__overlay {
  transform: translateY(0);
}
