:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --logo-text-color: #000;
  --xxx-: #75757580;
  --text-footer-btn-form: #ffffff99;
  --accent-color: #2196f3;
  --activ-accent-color: #188ce8;
  --primary-bg-color: #fff;
  --footer-hero-bg-color: #2f303a;
  --section-bg-color: #f5f4fa;
  --footer-text-color: #ffffff99;
  --border-color: #eeeeee;
  --header-border-color: #ececec;
  --hero-bg-color: #c4c4c4;
  --icon-bg: #ffffff1a;
  --border-bg-icon: #afb1b8;
  --overlay-bg: #2196f3e5;
  --background-overlay: rgba(0, 0, 0, 0.2);
  --time-function: 250ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}

// :root {
//   $primaryTextColor: #757575;
//   $titleTextColor: #212121;
//   $logoTextColor: #000;
//   $textFooterBtnForm: #ffffff99;
//   $accentColor: #2196f3;
//   $activAccentColor: #188ce8;
//   $primaryBgColor: #fff;
//   $footerHeroBgColor: #2f303a;
//   $sectionBgColor: #f5f4fa;
//   $footerTextColor: #ffffff99;
//   $borderColor: #eeeeee;
//   $headerBorderColor: #ececec;
//   $heroBgColor: #c4c4c4;
//   $iconBg: #ffffff1a;
//   $borderBgIcon: #afb1b8;
//   $overlayBg: #2196f3e5;
//   $backgroundOverlay: rgba(0, 0, 0, 0.2);
//   $timeFunction: 250ms;
//   $transitionFunction: cubic-bezier(0.4, 0, 0.2, 1);
// }
